body{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  background-color: #61D4B3;
}

form{
  display: flex;
  flex-direction: column;
  background-color: #FDD365;
  border-radius: 10px;
  border-style: solid;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 50px;
}

#btnLogin, #btnSign{
  background-color: #FB8D62;
}
